name: Waka Readme

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_OS: "true"
          SHOW_PROJECTS: "true"
          SHOW_TIME_PROGRESS: "true"
          SYMBOL_VERSION: "2"
          SHOW_LANGUAGE: "true"
          SHOW_COMMMIT: "true"
